@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --backgroundColor: #161616;
    --containerBackground: rgba(255, 255, 255, 0.05);
    --innerContainerBackground: #373737;
    --InnerContainerText: #BDBDBD;
    --grayText: rgba(255, 255, 255, 0.5);
    --textColor: #ffffff;
    --reguildedRed: #F56565;
    --reguildedRedHover: #F23737;

    --paddingSm: 5px;
    --paddingMd: 7px;
    --padding: 10px;

    --containerBorder: 0.5rem;
    --buttonBorder: 2rem;
    --buttonBorderSm: 1rem;
    --buttonBorderSmr: .75rem;
}

html {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    margin: 0;
    background-color: var(--backgroundColor);

    font-family: "Roboto", sans-serif;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
}

p {
    color: var(--textColor);
    margin: 0;
}

.container {
    border-radius: var(--containerBorder);
    background-color: var(--containerBackground);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    height: 100%;
    flex-grow: 1;
}

nav {
    display: flex;
    align-items: center;
    padding-left: var(--paddingSm);
    height: 51px;
}

nav > p {
    color: var(--reguildedRed);
    font-weight: bold;
}

section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

section > div {
    flex-grow: 1;
    padding: var(--padding);
    background-color: var(--containerBackground);
}


footer {
    padding: 0 var(--padding);
    height: 45px;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > p {
    color: var(--grayText);
    font-style: italic;
    font-size: small;
}

footer > button {
    height: 45px;
    width: 65px;
    border-radius: var(--buttonBorder);
    border: none;


    color: white;
    font-weight: bolder;
    background-color: var(--reguildedRed);
    box-shadow: var(--reguildedRed) 0 0 30px;

    transition: all 200ms;
}

footer > button:hover {
    cursor: pointer;

    background-color: var(--reguildedRedHover);
    box-shadow: var(--reguildedRedHover) 0 0 30px;
}

i {
    color: var(--reguildedRed)
}