:root {
    --injectButtonColor: #64CEF5;
    --injectButtonHoverColor: #37C0F2;
    --updateButtonColor: #F59865;
    --updateButtonHoverColor: #F27937;
}

section > div.screen {
    background-color: transparent;
}

.hidden {
    display: none !important;
}


/* Error Screen Styles */
.clickableText {
    color: var(--reguildedRed);
    font-style: italic;
    /*text-decoration: underline;*/
    /*text-underline: var(--reguildedRed);*/

    transition: color 200ms;
}

.clickableText:hover {
    cursor: pointer;
    color: var(--reguildedRedHover);
    /*text-underline: var(--reguildedRedHover);*/
}

.clickableText:visited {
    color: inherit;
}


/* Info Screen Styles */
.infoScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoScreen > i {
    font-size: 5em;
    color: var(--grayText);
}

.infoScreen > p {
    margin: var(--padding);
    font-size: large;
    text-align: center;
}

/* Util Screen Styles */
#utilScreen {
    color: white;
    text-align: left;
}

.utilTable {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 var(--padding);
}

.utilTableHeader {
    border-bottom: 2px solid var(--containerBackground);
}

th, td {
    width: auto;
}

.namedColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.namedColumn {
    color: var(--grayText)
}

.utilButtons {
    display: flex;
    justify-content: space-between;
    gap: var(--paddingSm);

    flex-wrap: nowrap;
    align-items: center;
}

.utilButtons button {
    color: white;
    font-weight: bold;
    border-radius: var(--buttonBorderSmr);
    padding: var(--paddingMd);
    border: none;

    height: 1.75rem;
    transition: 200ms color;
}

.utilButtons button:hover {
    cursor: pointer;
}

#utilScreenInjectButton {
    background-color: var(--injectButtonColor);
    box-shadow: var(--injectButtonColor) 0 0 7px;
}

#utilScreenInjectButton:hover {
    background-color: var(--injectButtonHoverColor);
    box-shadow: var(--injectButtonHoverColor) 0 0 7px;
}

#utilScreenUninjectButton {
    background-color: var(--reguildedRed);
    box-shadow: var(--reguildedRed) 0 0 7px;
}

#utilScreenUninjectButton:hover {
    background-color: var(--reguildedRedHover);
    box-shadow: var(--reguildedRedHover) 0 0 7px;
}

#utilScreenUpdateButton {
    background-color: var(--updateButtonColor);
    box-shadow: var(--updateButtonColor) 0 0 7px;
}

#utilScreenUpdateButton:hover {
    background-color: var(--updateButtonHoverColor);
    box-shadow: var(--updateButtonHoverColor) 0 0 7px;
}

.utilButtons button.disabled {
    background-color: var(--containerBackground) !important;
    color: var(--grayText) !important;
    box-shadow: none !important;
}

/* Install Screen Styles */
#newInstallScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.optionsContainer {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: var(--padding);
    grid-row-gap: var(--paddingSm);

    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

#installHeader {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}
.optionText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--paddingSm);
}

.optionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--padding) * 3);

    background-color: var(--innerContainerBackground);
    color: var(--InnerContainerText);
    padding: var(--padding);
    border: none;
    font-size: small;

    border-radius: var(--buttonBorderSmr);
}

.optionsContainer > div > select {
    border: 0;
    border-right: var(--padding) solid transparent;
}

.optionContainer:hover {
    cursor: pointer;
}

#locationContainer {
    width: 250px;
    height: calc(100% - calc(var(--padding) * 2));
}

#locationText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--InnerContainerText);
}

#folderIcon {
    color: var(--InnerContainerText);
}