:root {
    --injectButtonColor: #ed4e3d;
    --injectButtonHoverColor: #c93f2f;
    --updateButtonColor: #1db53c;
    --updateButtonHoverColor: #178d2f;
}

section > div.screen {
    background-color: transparent;
}

.clickableText {
    color: var(--reguildedRed);
    font-style: italic;
    /*text-decoration: underline;*/
    /*text-underline: var(--reguildedRed);*/

    transition: color 200ms;
}

.clickableText:hover {
    cursor: pointer;
    color: var(--reguildedRedHover);
    /*text-underline: var(--reguildedRedHover);*/
}

.clickableText:visited {
    color: inherit;
}

section > div.screen.hidden {
    display: none !important;
}

/* Error Screen Styles */
#errorScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#errorScreen > i {
    font-size: 5em;
}

#errorScreen > p {
    margin: var(--padding);
    font-size: large;
    text-align: center;
}

/* Util Screen Styles */
#utilScreen {
    color: white;
    text-align: left;
}

.utilTable {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 var(--padding);
}

.utilTableHeader {
    border-bottom: 2px solid var(--containerBackground);
}

th, td {
    width: auto;
}

.namedColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 15px;
}

td.namedColumn {
    color: var(--grayText)
}

.utilButtons {
    display: flex;
    justify-content: space-between;
    gap: var(--paddingSm);

    flex-wrap: nowrap;
    align-items: center;
}

.utilButtons button {
    color: rgb(233, 242, 241);
    font-weight: bold;
    border-radius: 7px;
    padding-left:15px;
    padding-right:15px;
    border: none;

    height: 1.75rem;
    transition: 200ms color;
}

.utilButtons button:hover {
    color:rgb(196, 202, 202);
    cursor: pointer;
}

#utilScreenInjectButton {
    transition: ease all 0.3s;
    background-color: var(--injectButtonColor);
}

#utilScreenInjectButton:hover {
    transition: ease all 0.3s;
    background-color: var(--injectButtonHoverColor);
    box-shadow: var(--injectButtonHoverColor) 0 0 3px;
}

#utilScreenUninjectButton {
    transition: ease all 0.3s;
    background-color: var(--reguildedRed);
    box-shadow: var(--reguildedRed) 0 0 3px;
}

#utilScreenUninjectButton:hover {
    background-color: var(--reguildedRedHover);
    box-shadow: var(--reguildedRedHover) 0 0 3px;
}

#utilScreenUpdateButton {
    transition: ease all 0.3s;
    background-color: var(--updateButtonColor);
}

#utilScreenUpdateButton:hover {
    background-color: var(--updateButtonHoverColor);
    box-shadow: var(--updateButtonHoverColor) 0 0 3px;
}

.utilButtons button.disabled {
    background-color: var(--containerBackground) !important;
    color: var(--grayText) !important;
    box-shadow: none !important;
}