:root {
    --background-level-0: #171717;
    --background-level-1: #202020;
    --background-level-2: #313131;
    --background-level-3: #424242;
    --reguilded-theme: #CC3333;
}

/**
 * Body
 */

/* HTML */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;

    background-color: var(--background-level-1);
    font-family: sans-serif;
    color: white;
}

body {
    overflow: hidden;
    -webkit-app-region: drag;
}

/* Header */
.header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
    height: 35px;
}
img {
    width: 15px;
    height: 15px;
    z-index: 1;
    margin: 10px 10px 0;
    -webkit-app-region: no-drag;
}
img:hover {
    cursor: pointer;
}

/* App body */
.main {
    width: 100%;
    min-height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/**
 * Content
 */

/* Header */
.logo {
    width: 12rem;
    height: auto;

    fill: var(--reguilded-theme);
}
.welcomePanel {
    padding: 1rem;

    user-select: none;
}
.reGuildedMark {
    color: var(--reguilded-theme);
}
hr {
    width: 75%;

    border-style: solid;
    border-radius: 0.5rem;
    border-color: var(--background-level-2);

    margin: 0.7rem;
}

/* Buttons */
.controlArea {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;

    padding: 1rem;

    -webkit-app-region: no-drag;
}
.controlBtns {
    display: flex;
    align-content: center;
    justify-content: center;
}
.hidden {
    display: none;
}

.controlBtns button {
    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem 3rem;
    margin: 10px;

    outline: none;
    cursor: pointer;
    transition: 200ms ease;

    color: white;
    background-color: var(--background-level-2);
    user-select: none;
}
.controlBtns > button:hover {
    border-radius: 1.5rem;

    transform: scale(1.15);

    font-weight: bold;
    background-color: var(--background-level-3);
}
.controlBtns > button:active {
    background-color: var(--background-level-0);
}
.install {
    color: white;
}
.install:hover {
    box-shadow: 0 0 0.7rem white;
}
.inject {
    background-color: #cc3333;
    color: white;
}
.inject:hover {
    background-color: rgb(238, 76, 76);
    box-shadow: 0 0 0.7rem #cc3333;
}
.uninject {
    background-color: #f5c400;
    color: #111820;
}
.uninject:hover {
    background-color: #f8d547;
    box-shadow: 0 0 0.7rem #f5c400;
}

/* Status */
#statusText {
    font-size: .9rem;
    color: #616161;
    user-select: none;
}

.browse {
    color: #707070;
    background: none;
    border: none;
}
.browse:hover {
    cursor: pointer;
    color: #808080;
    text-decoration: underline;
}