/* Variables */
:root {
    --background-level-0: #171717;
    --background-level-1: #202020;
    --background-level-2: #313131;
    --background-level-3: #424242;
    --reguilded-theme: #CC3333;
    --text-color: #B0B0B0;
}

/* Global */
* {
    color: var(--text-color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HTML & Body Elements */
html,body {
    background-color: var(--background-level-1);
    -webkit-app-region: drag;
    font-family: sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Hidden & Hiding Class */
.hidden {
    display: none;
}
.hiding {
    opacity: 0;
}

/* Header */
.header {
    justify-content: flex-end;
    position: absolute;
    display: flex;
    height: 35px;
    width: 100%;
}
.headerBtn {
    -webkit-app-region: no-drag;
    height: 15px;
    margin: 10px;
    width: 15px;
}
.headerBtn:hover {
    cursor: pointer;
}

/* Loading Splash */
.loadingSplash {
    justify-content: center;
    flex-direction: column;
    transition: 200ms ease;
    align-items: center;
    min-height: 100%;
    display: flex;
    width: 100%;
    opacity: 1;
    z-index: 3;
}
.loadingMessage {
    text-align: center;
    user-select: none;
    padding: 1rem;
}

/* Main Div */
.main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    display: flex;
    width: 100%;
    z-index: 1;
}

/* Logo used on both LoadingSplash & Main */
.logo {
    pointer-events: none;
    user-select: none;
    padding: 2rem;
    width: 12rem;
    height: auto;
    z-index: 2;
}

/* ReGuilded Mark in Welcome Message */
.reguildedMark {
    color: var(--reguilded-theme);
}

/* Horizontal Line dividing Welcome Message & Version */
hr {
    border-color: var(--background-level-2);
    border-radius: 0.5rem;
    border-style: solid;
    margin: 0.7rem;
    width: 75%;
}

/* Buttons */
.controlArea {
    -webkit-app-region: no-drag;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    display: flex;
    padding: 1rem;
}
.controlBtns {
    justify-content: center;
    flex-direction: column;
    align-content: center;
    display: flex;
}
.controlBtns button {
    background-color: var(--background-level-1);
    transition: 200ms ease;
    border-radius: 0.5rem;
    padding: 0.75rem 3rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 10px;
}
.controlBtns > button:hover {
    box-shadow: 0 0 0.7rem #000;
    transform: scale(1.15);
    border-radius: 1.5rem;
}
.controlBtns > button:active {
    background-color: var(--background-level-0);
}

/* Version */
#versionText {
    -webkit-app-region: no-drag;
    transition: 200ms ease;
    text-decoration: none;
    font-weight: bold;
}
#versionText:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Status */
#statusText {
    user-select: none;
    font-size: .9rem;
}
.statusBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}